.footer
  .footer__nav
    %ul.footer__nav__messages
      %li.message プライバシーポリシー
      %li.message メルカリ利用規約
      %li.message 特定商取引に関する表記
  .footer__logo
    = image_tag 'logo_gray.svg',class:"flogo"
  %p.copy ©Mercari,Inc.
