<div class = "footer">
  <div class = "footer__nav">
    <ul class = "footer__nav__messages">
      <li class = "message">プライバシーポリシー</li>
      <li class = "message" >メルカリ利用規約</li>
      <li class = "message" >特定商取引に関する表記</li>
    </ul>
  </div>
  <div class = "footer__logo">
    <%= image_tag 'logo_gray.svg',class:"flogo" %>
  </div>
  <p class = "copy">&copy;Mercari,Inc.</p>
</div>