<div class = "header">
  <div class = "header__left">
    <%= image_tag 'fmarket_logo_red.svg',class:"logo" %>
  </div>
  <div class = "header__right">
    <div class = "nav-bar">
      <ul class = "nav-bar__lists">
        <li class = "item">会員情報
          <div class= "circle"></div>
        </li>
        <li class = "item">電話番号認証
          <div class= "circle"></div>
        </li>
        <li class = "item">お届け先住所入力
          <div class= "circle"></div>
        </li>
        <li class = "item">支払い方法
          <div class= "circle"></div>
        </li>
        <li class = "item">完了
          <div class= "last-circle"></div>
        </li>
      </ul>
    </div>
  </div>
</div>