.user-single-container
  = render 'user-single-header'
  .user-single-main
    .user-single-content
      %h2.user-single-main-section
        新規会員登録
      .user-single-form-content
        .user-single-forms
          .form
            %button.btn.mail
              %i.far.fa-envelope
              メールアドレスで登録する
          .form
            %button.btn.facebook
              %i.fab.fa-facebook-square
              Facebookで登録する
          .form
            %button.btn.google
              %i.fab.fa-google
              Googleで登録する
  = render 'footer'
