
<div class="single-container">
  <header class="single-header">
    <h1>
      <img src="SVG/fmarket_logo_red.svg">
    </h1>
  </header>
  <div class="single-main">
    <div class="single-login-panel">
      <div class="single-login-no-account">
        <p>アカウントをお持ちでない方はこちら</p>
        <button class="create-account">
          新規会員登録
        </button>
      </div>
    
    <div class="single-buttons">
      <div class="single-btn">
      <button class="btn facebook">
      <i class="fab fa-facebook-square"></i>
        Facebookでログイン
      </button>
     </div>
     <div class="single-btn">
      <button class="btn google">
        <i class="fab fa-google"></i>
        Googleでログイン
      </button>
    </div>
    </div>
    <div class="single-forms">
      <div class="single-form">
       <input type="email" name="email" value="" placeholder="メールアドレス"
        class="mail holder">
      </div>
      <div class="single-form">
          <input type="password" name="password" placeholder="パスワード" 
          class="password holder">
      </div>
      <div class="robot">
        <button class="robot-button">
          <input type="checkbox" class="check">
          私はロボットではありません
        </button>
      </div>
      <div class="login-btn">      
        <button type="submit" 
          class="login-submit">ログイン
        </button>
      </div>
      <div class="help">
      <a href="#">パスワードをお忘れの方</a>
      </div>
    </div>
   </div>
  </div>
</div>  
