<body>

  <div class="default-container">
      <header class="head">

  </header>

  <div class="user__mypage-body-content">
 

  <main class="user__mypage-main-content">


    <div class="user__mypage-left-content">
     <nav calss="user__mypage-left-nav">
      <ul class="user__mypage-left-lists">
      <li class="user__mypage-left-list">
        マイページ
        <i class="fas fa-chevron-right"></i>
      </li>
       <li class="user__mypage-left-list">
        お知らせ
        <i class="fas fa-chevron-right"></i>
      </li>
      <li class="user__mypage-left-list">
        やることリスト 
        <i class="fas fa-chevron-right"></i>
      </li>
      <li class="user__mypage-left-list">
        いいね！一覧
        <i class="fas fa-chevron-right"></i>
      </li>
      <li class="user__mypage-left-list">
        出品する
        <i class="fas fa-chevron-right"></i>
      </li>
      <li class="user__mypage-left-list">
        出品した商品-出品中
        <i class="fas fa-chevron-right"></i>
      </li>
      <li class="user__mypage-left-list">
        出品した商品-取引中
        <i class="fas fa-chevron-right"></i>
      </li>
      <li class="user__mypage-left-list">
        出品した商品-売却済み
       <i class="fas fa-chevron-right"></i>
      </li>
      <li class="user__mypage-left-list">
        購入した商品-取引中
         <i class="fas fa-chevron-right"></i>
      </li>
      <li class="user__mypage-left-list">
        購入した商品-過去の取引
         <i class="fas fa-chevron-right"></i>
      </li>
      <li class="user__mypage-left-list">
        ニュース一覧
         <i class="fas fa-chevron-right"></i>
      </li>
      <li class="user__mypage-left-list">
        評価一覧
         <i class="fas fa-chevron-right"></i>
      </li>
      <li class="user__mypage-left-list">
        ガイド
       <i class="fas fa-chevron-right"></i>
      </li>
      <li class="user__mypage-left-list">
        お問い合わせ
         <i class="fas fa-chevron-right"></i>
      </li>
       </ul>




       <h3 class="user__mypage-nav-head">
       メルペイ
       </h3>
       <ul class="user__mypage-left-lists">
        <li class="user__mypage-left-list">
        売り上げ・振込申請
         <i class="fas fa-chevron-right"></i>
       </li>
        <li class="user__mypage-left-list">
        ポイント
         <i class="fas fa-chevron-right"></i>
       </li>
       </ul>

       <h3 class="user__mypage-nav-head">
       設定
       </h3>

       <ul class="user__mypage-left-lists">
       <li class="user__mypage-left-list">
        プロフィール
         <i class="fas fa-chevron-right"></i>
       </li>
        <li class="user__mypage-left-list">
          発送元・お届け先住所変更
           <i class="fas fa-chevron-right"></i>
       </li>
        <li class="user__mypage-left-list">
          支払い方法
           <i class="fas fa-chevron-right"></i>
       </li>
        <li class="user__mypage-left-list">
          メール/パスワード
           <i class="fas fa-chevron-right"></i>
       </li>
        <li class="user__mypage-left-list">
          本人情報
           <i class="fas fa-chevron-right"></i>
       </li>
        <li class="user__mypage-left-list">
          電話番号の確認
           <i class="fas fa-chevron-right"></i>
       </li>
        <li class="user__mypage-left-list">
          ログアウト
           <i class="fas fa-chevron-right"></i>
       </li>
       </ul>

      

     </nav>
    </div>
    
    <div class="user__mypage-right-content">
      <section class="user__mypage-user-icon">
        <div class="user__mypage-icon">
        </div>  
      </section>
      <section class="user__mypage-content-tab">
        
      </section>

    </div>






  </main>








  <!-- bodyのdiv -->
</div>


  







<!-- default-containerのdiv-->


</body>

