  <div class="default-container">
      <header class="head">

  </header>

  <div class="body-content">
 

  <main class="main-content">
    <div class="right-content">
      <section class="mypage-user-icon">
        <div class="icon">
        <img src="member_photo_noimage_thumb.png">
        </div>  
      </section>
      <section class="mypage-content-tab">
        
      </section>

    </div>





  </main>








  <!-- bodyのdiv -->
</div>






  <aside class="app-banner">
    <img src="海の写真.png">
  </aside>
  
  <footer  class="footer-content">

  </footer>
  







<!-- default-containerのdiv-->
</div>



