%body
  .default-container
    %header.head
    .body-content
      %main.main-content
        .right-content
          %section.mypage-user-icon
            .icon
              %img{:src => "member_photo_noimage_thumb.png"}/
          %section.mypage-content-tab
      / bodyのdiv
    %aside.app-banner
      %img{:src => "海の写真.png"}/
    %footer.footer-content
    / default-containerのdiv
