.item-detail-other__product  
  - @user.each do |item| 
  .item-detail-other__product__picture
  = item.image 
  .item-detail-other__product__info
    .item-detail-other__product__info__name
      = item.image
    .item-detail-other__product__info__bottom
      .item-detail-other__product__info__bottom__price
        ¥
        = item.price
      .item-detail-other__product__info__bottom__like
        %i.far.fa-heart
        3