.slick
  .slick_img
    = image_tag 'slid_1.jpeg'
  .slick_img
    = image_tag 'slid_2.jpeg'
  .slick_img
    = image_tag 'slid_3.jpeg'

.item_area
  .category_title_area
    %p.category_title 人気のカテゴリー
    .category_items
      %p
        %a.items_content{:href => "ledies_items"} レディース
      %p
        %a.items_content{:href => "#"} メンズ
      %p
        %a.items_content{:href => "#"} 家電・スマホ・カメラ
      %p
        %a.items_content{:href => "#"} おもちゃ・ホビー・グッズ
.ladies_items
  %p.title_name レディース新着アイテム
  %ul.items_box
    %li
      %a.items_img{:href => "https://item.mercari.com/jp/m99398181246/"}
    %li
      %a.items_img{:href => "#"}
    %li
      %a.items_img{:href => "#"}
    %li
      %a.items_img{:href => "#"}
    %li
      %a.items_img{:href => "#"}
    %li
      %a.items_img{:href => "#"}
    %li
      %a.items_img{:href => "#"}
    %li
      %a.items_img{:href => "#"}
    %li
      %a.items_img{:href => "#"}
    %li
      %a.items_img{:href => "#"}
.popular_brand
%h2 人気のブランド
