<div class="slider_list">
    <h1>スライド</h1>
  </div>

  <div class="item_area">
    <div class="category_title_area">
      <p class="category_title">人気のカテゴリー</p>
        <div class="category_items">
          <p><a class="items_content" href="ledies_items">レディース</a></p>
          <p><a class="items_content" href="#">メンズ</a></p>
          <p><a class="items_content" href="#">家電・スマホ・カメラ</a></p>
          <p><a class="items_content" href="#">おもちゃ・ホビー・グッズ</a></p>
        </div>
    </div>
   </div>  
    <div class="ladies_items">     
      <p class="title_name">レディース新着アイテム</p>
        <ul class="items_box">
          <li><a class="items_img" href="https://item.mercari.com/jp/m99398181246/"></a></li>
          <li><a class="items_img" href="#"></a></li>
          <li><a class="items_img" href="#"></a></li>
          <li><a class="items_img" href="#"></a></li>
          <li><a class="items_img" href="#"></a></li>
          <li><a class="items_img" href="#"></a></li>
          <li><a class="items_img" href="#"></a></li>
          <li><a class="items_img" href="#"></a></li>
          <li><a class="items_img" href="#"></a></li>
          <li><a class="items_img" href="#"></a></li>
        </ul>          
    </div>
  </div>
  <div class="popular_brand"></div>
    <h2>人気のブランド</h2>
  </div>