- breadcrumb :logout
= render "layouts/breadcrumbs"
.top-logout__page
  = render 'items/side-ber'
  .logout__page
    .logout__page__form
      %button.logout__page__form__btn-red
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"

  .exhibit
    %form_with.exhibit__form{action: "#"}
      %button.exhibit__form__button{type: "sabmit"}
        .exhibit__form__button__logo
          出品
        = icon('fas', 'camera', class: 'exhibit__form__button__icon1')

