.mypage-container
  = render "users/side-ber"
  .mypage-contents
    .mypage-content
      .mypage-content__header
        .mypage-content__header__main
          .mypage-content__header__main__icon
            %i.far.fa-user-circle
          .mypage-content__header__main__name
            kojikoji
          .mypage-content__header__main__bottom
            .mypage-content__header__main__bottom__review
              評価
              10
              -# .mypage-content__header__main__bottom__review-num
            .mypage-content__header__main__bottom__products
              出品数
              12
              -# .mypage-content__header__main__bottom__products-num
        
        .mypage-content__notice
          .mypage-content__notice__tab
          .mypage-content__notice__messages
            .mypage-content__notice__messages__message
              .mypage-content__notice__messages__message__icon
              .mypage-content__notice__messages__message__main
                .mypage-content__notice__messages__mesage__message
                .mypage-content__notice__messages__message__date
                .mypage-content__notice__messages__date
            




          
    かりおき
    