= render partial: "header"

.container
  .contents
    .item-name
    超美品なApple magic mouse 2 !
    .item-main
      .item-main__photos
    
      .item-main__detail

    .item-price
      .item-price-box
        .item-price-box__yen
        .item-price-box__tax
        .item-price-box__postage
      .item-buy
        .item-buy__btn 
      .item-caution
    
    .item-description
      .item-description__text
      .item-description__bottom
        .item-description__bottom__left
          .item-description__bottom__left__like
          .item-description__bottom__left__report
        .item-description__bottom__right
        
    .comments
      .comment
        .comment__caution
        .comment__form
        .comment__btn

        

