<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <title>FreemarketSample64c</title>
  <link rel="stylesheet" href="items.css" >
  </head>


<div class="container">

  <div class="contents">
    <div class="item-name">
    売り切れ必須！驚愕のLogicool mouse 2!</div>
    <div class="item-main">
      <div class="item-main__photos">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71irY23ij4L._AC_SL1500_.jpg" class="item-main__photos__photo">

      </div>
      <div class="item-main__detail">商品の説明あああああああああああああ</div>
    </div>
    <div class="item-price">
      <div class="item-price-box">
        <div class="item-price-box__yen">
        ¥ 12,121,212</div>
        <div class="item-price-box__tax">
        (税込)</div>
        <div class="item-price-box__postage">
        送料込み</div>
      </div>
      <div class="item-buy">
        <div class="item-buy__btn">購入画面に進む</div>
      </div>
      <div class="item-caution"></div>
    </div>
    <div class="item-description">
      <div class="item-description__text"></div>
      <div class="item-description__bottom">
        <div class="item-description__bottom__left">
          <div class="item-description__bottom__left__like"></div>
          <div class="item-description__bottom__left__report"></div>
        </div>
        <div class="item-description__bottom__right"></div>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <div class="comment__caution"></div>
        <div class="comment__form"></div>
        <div class="comment__btn"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</html>