!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title FreemarketSample64c
    %link{:href => "items.css", :rel => "stylesheet"}/
  %body
    .container
      .contents
        .item-name
          売り切れ必須！驚愕のLogicool mouse 2!
        .item-main
          .item-main__photos
            %img.item-main__photos__photo{:src => "https://images-na.ssl-images-amazon.com/images/I/71irY23ij4L._AC_SL1500_.jpg"}/
          .item-main__detail 商品の説明あああああああああああああ
        .item-price
          .item-price-box
            .item-price-box__yen
              ¥ 12,121,212
            .item-price-box__tax
              (税込)
            .item-price-box__postage
              送料込み
          .item-buy
            .item-buy__btn 購入画面に進む
          .item-caution
        .item-description
          .item-description__text
          .item-description__bottom
            .item-description__bottom__left
              .item-description__bottom__left__like
              .item-description__bottom__left__report
            .item-description__bottom__right
        .comments
          .comment
            .comment__caution
            .comment__form
            .comment__btn
