<div class="container">
  <div class="contents">
    <div class="item-name"></div>
    <div class="item-main">
      <div class="item-main__photos"></div>
      <div class="item-main__detail"></div>
    </div>
    <div class="item-price">
      <div class="item-price-box">
        <div class="item-price-box__yen"></div>
        <div class="item-price-box__tax"></div>
        <div class="item-price-box__postage"></div>
      </div>
      <div class="item-buy">
        <div class="item-buy__btn"></div>
      </div>
      <div class="item-caution"></div>
    </div>
    <div class="item-description">
      <div class="item-description__text"></div>
      <div class="item-description__bottom">
        <div class="item-description__bottom__left">
          <div class="item-description__bottom__left__like"></div>
          <div class="item-description__bottom__left__report"></div>
        </div>
        <div class="item-description__bottom__right"></div>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <div class="comment__caution"></div>
        <div class="comment__form"></div>
        <div class="comment__btn"></div>
      </div>
    </div>
  </div>
</div>
