= render 'items/header'
.wrapper
  = render "items/side-ber"
  .user-main
    .user-member-info
      %h2.user-member-info__title 
        支払い方法
        = form_with url: pay_path do
          :plain
            <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_e62349859c2f9a2db51bfa9c"></script>
          
      
      -# = form_tag("/pay", method: :POST, id: "charge-form") do
      -#   %h4
      -#     支払い
      -#     %label_tag
      -#       カード番号
      -#       %input{maxlength: "16", type: "text", class: "number", id: "payment_card_no" name: "number", placeholder: "カード番号"}
      -#     %label_tag
      -#       CVC
      -#       %input{type: "text", class: "cvc", id: "cvc_code", name: "cvc", maxlength: "3", placeholder: "CVC"}
      -#     %label_tag
      -#       有効期限
      -#       %input{type: "text", class: "exp_month", id: "card_expire_mm",  name: "exp_month", maxlength: "2", placeholder: "月"}
      -#       %input{type: "text", class: "exp_year", id: "card_expire_yy", name: "exp_year", maxlength: "4",  placeholder: "年"}
= render 'items/footer'