$Background: rgb(245,245,245);  //メイン背景色
$Lightgray: #fafafa;  //写真の裏とか
$White: #ffffff;  //ただの真っ白(Just white)
$Blue: #0099e8;  //赤い文字の色
$Red: #ea352d;  //青い文字の色
$link-blue: #51ceff; //ヘッダーで使ってるホバー色
$header-icon: rgb(200, 200, 200); //ヘッダーアイコン色
$header-icon-top: rgb(134, 127, 127);
$header-border: rgb(210, 210, 210);//ヘッダーのボックスのボーダー
$header-border-2:rgb(240, 240, 240);
$header-menu-red: rgb(224, 60, 88);//ヘッダーのメニュー赤部分
$header-menu-gley: rgb(223, 223, 223);//ヘッダーのメニュー灰部分
