.smaph_area {
  background-color: #f0f8ff;
  height: 300px;
  width: 100%;
  margin-top: auto;
  
  
  .smaph_box {
    width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .smaph__text {
    font-size: 16px;
    color: #222222;
    padding: 10px 0 10px 0;
    font-weight:bold;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
  }

}



.footer__index {
  background-color: #222222;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 50px 100px 0;
  position: fixed;
  position: relative;
  

  .footer__index__contaner {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    
  }
  
  .footer__index__box {
    width: 250px;
    list-style: none;
    margin: 20px 0px 50px 0px;
  }

  .footer__title {
    font-size: 16px;
    color: #ffffff;
    // margin: 10px 0 10px 0;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .footer__comments {
    margin-top: 16px;

  }

  .footer__comment {
    color: #d3d3d3;
    text-decoration: none;
    font-size: 12px;
    
    &:hover {
      text-decoration: underline;
    }
 
  }

  .copy_box {
  
    .copy__comment {
      font-size: 15px;
      color: #fff;
      text-align: center;
      box-sizing: content-box;
    }
  }
}


.logo_icon {
  margin-top: 10px;
  
}

.logo {
  color: white;
  font-size: 30px;
  margin-right: 10px;
  display: inline-block;
  
}  




