.smaph_area {
  height: 300px;
  width: 100%;
  position: relative;
  background-image: url("img/room_img.jpg");
}

.smaph_box {
  width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}



.footer {
  background: #222222;
  
}

.content_box {
  background: #222222;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  
}

.footer_title {
  width: 250px;
  margin-top: 20px;
  list-style: none;
  
}

.logo_icon {
  margin-top: 10px;
  
}

.logo {
  color: white;
  font-size: 30px;
  margin-right: 10px;
  display: inline-block;
  
}

.title {
  font-size: 16px;
  margin: 10px 0 10px 0;
  font-weight:bold;
  
}

.copy {
  font-size: 15px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}