
.icon::before {
  display: inline-block;
  margin-right: .5em;
  font-family: fontawesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header0{
  margin: 0 auto;
  border-bottom: 1px solid $header-icon;
  &__body {
    width: 1020px;
    margin: 0px auto;
    height: 100px;
    background-color: $Background;
    list-style: none;
  }
}


.heder-up{
  padding: 8px 0px 0px;
  display: flex;
}

.header__logo{
  margin: 0 auto;
  &__image{
    box-align: center;
    align-items: center;
    display: flex;
    height: 40px;
    margin:0 35px 0 0;
  }
}

.header-form{
  width: 100%;
  position: relative;
  background-color: transparent;
  &__input{
    font-size: 16px;
    height: 36px;
    line-height: 1.4em;
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    border-width: 1px;
    border-style: solid;
    border-color: $header-border;
    border-image: initial;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease-out 0s;
    background-color: $Background;
    font-size: 16px;
    font-family: inherit;
  }
  &__button{
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    -webkit-appearance: none;
    border-style: none;
    border-radius: 0px 4px 4px 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
  }
}

.header-form__search__icon1{
  color: rgb(34, 34, 34);
  display: inline-block;
  text-align: left;
  font-size: 18px;
}


.header-under{
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: -3px;
  height: 53px;
}


.header-under-left{
  position: relative;
  display: flex;
  margin-left: -3px;
  font-size: 14px;
  line-height: 36px;
}


#categoly__search22{
  font-weight: 510;
  color: black;
  text-decoration: none;
  margin-left: 8px;
  padding-bottom: 10px;
  font-family: Tahoma;
  &:hover{
    color: $link-blue;
  }
}

.fas.fa-list-ul{
  color: $header-menu-red;
  padding-right: 5px;
  font-size: 18px;
}

#brand-search{
  font-weight: 510;
  position: relative;
  color: black;
  box-sizing: border-box;
  text-decoration: none;
  margin-left: 20px;
  padding-bottom: 10px;
  font-family: Tahoma;
  height: 52px;
  &:hover{
    color: $link-blue;
  }
}

.fas.fa-tag{
  color: $header-menu-red;
  padding-right: 5px;
  font-size: 18px;
}

.header-under-right{
  float: right;
  display: flex;
  font-size: 13px;
  line-height: 36px;
  position: relative;
  font-family: Tahoma;
}


.information{
  margin-right: 30px;
  color: inherit;
  text-decoration: none;
  &:hover{
    color: $link-blue;
  }
  &:hover .far.fa-bell{
    color: $link-blue;
  }
}

.far.fa-bell{
  color: $header-icon-top;
  padding-right: 8px;
  font-size: 20px;
}


#ex_out1{
  margin-right: 30px;
  color: inherit;
  text-decoration: none;
  color: black;
  display: block;
}

#ex_menu1{
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  display:none;
  height: 505px;
  position: absolute;
  top: 44px;
  left: 0px;
  background: #fff;
  width: 200px;
  padding: 0;
  margin: 0;
  border: 0.1px solid $header-border;
  list-style-type:none;
  font-weight: normal;
  font-family: system;
  z-index: 10;
}

.fas.fa-check{
  color: $header-icon-top;
  padding-right: 8px;
  font-size: 20px;
}

.far.fa-user-circle{
  color: $header-icon-top;
  padding-right: 8px;
  font-size: 24px;
}

.menu1_link{
  text-decoration: none;
  color: black;
  display: list-item;
  padding-left: 18px;
  position: relative;
  &:hover{
    background-color: $header-menu-red;
    color: #fff;
  }
}

#ex_menu2{
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  display:none;
  position: absolute;
  top: 44px;
  left: 180px;
  background: #fff;
  width: 200px;
  padding: 0;
  margin: 0;
  border: 0.1px solid $header-border;
  list-style-type:none;
  font-weight: normal;
  font-family: system;
  z-index: 10;
}


.menu2_list:hover{
  background-color: $header-menu-red;
  color: #fff;
  
}

.menu2_link{
  text-decoration: none;
  color: black;
  display: list-item;
  padding-left: 18px;
  &:hover{
    color: #fff;
  }
}

/* 横から出るメニュー */

#ladies_ul{
  list-style-type: none;
  background-color: $Background;
  bottom: 0px;
  border: 0.1px solid $header-border-2;
  box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.18);
  display: none;
  left: 200px;
  position: absolute;
  top: 0px;
  width: 224px;
  padding-inline-start: 0;
  font-size: 14px;
}

.ladies_goods{
  text-decoration: none;
  color: black;
  display: list-item;
  padding-left: 18px;
  &:hover{
    background-color: $header-menu-gley;
  }
}

#tops_ul{
  list-style-type: none;
  background-color: $Background;
  bottom: 0px;
  border: 0.1px solid $header-border-2;
  box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.18);
  display: none;
  left: 220px;
  position: absolute;
  top: 0px;
  height: 550px;
  width: 300px;
  padding-inline-start: 0;
}

.tops_goods{
  text-decoration: none;
  color: black;
  display: list-item;
  padding-left: 18px;
  &:hover{
    background-color: $header-menu-gley;
  }
}


#jacket-outer_ul{
  list-style-type: none;
  background-color: $Background;
  bottom: 0px;
  border: 0.1px solid $header-border-2;
  box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.18);
  display: none;
  left: 220px;
  position: absolute;
  top: 0px;
  width: 300px;
  height: 550px;
  padding-inline-start: 0;
}

.jacket-outer_goods{
  text-decoration: none;
  color: black;
  display: list-item;
  padding-left: 18px;
  &:hover{
    background-color: $header-menu-gley;
  }
}


#pants_ul{
  list-style-type: none;
  background-color: $Background;
  bottom: 0px;
  border: 0.1px solid $header-border-2;
  box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.18);
  display: none;
  left: 220px;
  position: absolute;
  top: 0px;
  width: 300px;
  height: 550px;
  padding-inline-start: 0;
}

.pants_goods{
  text-decoration: none;
  color: black;
  display: list-item;
  padding-left: 18px;
  &:hover{
    background-color: $header-menu-gley;
  }
}


#skirt_ul{
  list-style-type: none;
  background-color: $Background;
  bottom: 0px;
  border: 0.1px solid $header-border-2;
  box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.18);
  display: none;
  left: 220px;
  position: absolute;
  top: 0px;
  width: 300px;
  height: 550px;
  padding-inline-start: 0;
}

.skirt_goods{
  text-decoration: none;
  color: black;
  display: list-item;
  padding-left: 18px;
  &:hover{
    background-color: $header-menu-gley;
  }
}


#one-pirce_ul{
  list-style-type: none;
  background-color: $Background;
  bottom: 0px;
  border: 0.1px solid $header-border-2;
  box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.18);
  display: none;
  left: 220px;
  position: absolute;
  top: 0px;
  width: 300px;
  height: 550px;
  padding-inline-start: 0;
}

.one-pirce_goods{
  text-decoration: none;
  color: black;
  display: list-item;
  padding-left: 18px;
  &:hover{
    background-color: $header-menu-gley;
  }
}


#ladies-boots_ul{
  list-style-type: none;
  background-color: $Background;
  bottom: 0px;
  border: 0.1px solid $header-border-2;
  box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.18);
  display: none;
  left: 220px;
  position: absolute;
  top: 0px;
  width: 300px;
  height: 550px;
  padding-inline-start: 0;
}

.ladies-boots_goods{
  text-decoration: none;
  color: black;
  display: list-item;
  padding-left: 18px;
  &:hover{
    background-color: $header-menu-gley;
  }
}


#roomwear-pajamas_ul{
  list-style-type: none;
  background-color: $Background;
  bottom: 0px;
  border: 0.1px solid $header-border-2;
  box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.18);
  display: none;
  left: 220px;
  position: absolute;
  top: 0px;
  width: 300px;
  height: 550px;
  padding-inline-start: 0;
}

.roomwear-pajamas_goods{
  text-decoration: none;
  color: black;
  display: list-item;
  padding-left: 18px;
  &:hover{
    background-color: $header-menu-gley;
  }
}


#leg-wear_ul{
  list-style-type: none;
  background-color: $Background;
  bottom: 0px;
  border: 0.1px solid $header-border-2;
  box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.18);
  display: none;
  left: 220px;
  position: absolute;
  top: 0px;
  width: 300px;
  height: 550px;
  padding-inline-start: 0;
}

.leg-wear_goods{
  text-decoration: none;
  color: black;
  display: list-item;
  padding-left: 18px;
  &:hover{
    background-color: $header-menu-gley;
  }
}


#ladies-hats_ul{
  list-style-type: none;
  background-color: $Background;
  bottom: 0px;
  border: 0.1px solid $header-border;
  box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.18);
  display: none;
  left: 220px;
  position: absolute;
  top: 0px;
  width: 300px;
  height: 550px;
  padding-inline-start: 0;
}

.ladies-hats_goods{
  text-decoration: none;
  color: black;
  display: list-item;
  padding-left: 18px;
  &:hover{
    background-color: $header-menu-gley;
  }
}

//いいね一覧

.like-list{
  margin-right: 30px;
  color: inherit;
  text-decoration: none;
  &:hover{
    color: $link-blue;
  }
  &:hover .far.fa-heart{
    color: $link-blue;
  }
}

.far.fa-heart{
  color: $header-icon-top;
  padding-right: 8px;
  font-size: 18px;
}

//お知らせ

#ex_menu3{
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: absolute;
  display: none;
  top: 44px;
  left: 125px;
  background: #fff;
  width: 300px;
  padding: 0;
  margin: 0;
  border: 0.1px solid $header-border;
  list-style-type:none;
  font-weight: normal;
  font-family: system;
  z-index: 10;
  &:hover{
    background-color: $header-border-2;
  }
}

.information{
  &__link{
    width: 300px;
    height: 110px;
    margin: 0 auto;
    padding: 0px;
  }
  
  &__logo__image{
    width: 50px;
    height: 50px;
    padding: 15px 0 0 15px;
    position: absolute;
  }
  
  &__time{
    position: absolute;
    line-height: 0;
    display: table-cell; 
    padding: 80px 0 0 80px;
    font-size: 14px;
    color: rgb(150, 150, 150);

    &__icon{
      vertical-align: middle;
      color: $header-icon;
      font-size: 20px;
    }
  }
}


.get__message{
  margin: 15px 0 0 75px;
  word-break: normal;
  height: 60px;
  width: 180px;
  display: inline-block;
  position: absolute;
  &__text{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    overflow: hidden;
    line-height: 18px;
    font-size: 12px;
    font-weight: 800;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}


.chevron-right__icon1{
  font-size: 25px;
  margin: 40px 0 0 275px;
  color: $header-icon;
  z-index: 8;
  position: absolute;
}


//やることリスト

#ex_menu4{
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  display:none;
  height: 230px;
  position: absolute;
  top: 44px;
  left: 170px;
  background: #fff;
  width: 320px;
  padding: 0;
  margin: 0;
  border: 0.1px solid $header-border;
  list-style-type:none;
  font-weight: normal;
  font-family: system;
  z-index: 10;
}


.todo-list{
  margin-right: 30px;
  color: inherit;
  text-decoration: none;
  color: black;
  display: block;
  &:hover{
    color: $link-blue;
  }
  &:hover .fas.fa-check{
  color: $link-blue;
  }
}

.todo__logo-image{
  width: 120px;
  height: 120px;
  padding: 30px 0 0 95px;
}
.todo__menu{
  text-align: center;
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  color: rgb(196, 189, 189);
}


//マイページ
#mypage{
  color: black;
  text-decoration: none;
  &:hover{
    color: $link-blue;
  }
}

.mypage22-icon{
  height: 250px;
  background-color: rgb(200, 200, 200);
  padding: 0;
  margin: 0;
}

#mypage22{
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  display: none;
  position: absolute;
  top: 44px;
  left: 190px;
  background: #fff;
  width: 320px;
  padding: 0;
  margin: 0;
  border: 0.1px solid $header-border;
  list-style-type:none;
  font-weight: normal;
  font-family: system;
  z-index: 10;
}


.mypage22__menu__list{
  background: #fff;
  padding: 0;
  margin: 0;
  border: 0.02px solid $header-border;
  list-style-type:none;
  font-weight: normal;
  font-family: system;
  height: 50px;


  &__link{
    text-decoration: none;
    width: 302px;
    color: black;
    display: list-item;
    padding-left: 18px;
    line-height: 50px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: rgb(80, 80, 80);
    &:hover{
      background-color: $Background;
    }
    &:hover + .chevron-right__icon2{
      font-size: 25px;
      left: 295px;
      bottom: 36px;
      color: rgb(100, 100, 100);
    }
  }

.mypage-login-buttons {
  display: flex;
  &__registration {
    background-color: rgb(234, 53, 45);
    font-size: 14px;
    line-height: 14px;
    border:1px solod rgb(234, 53, 45) ;
    border-radius: 4px;
    color: #fff;
    padding: 9px 10px;
  }
  &__login {
    font-size: 14px;
    line-height: 14px;
    color: rgb(0, 149, 238);
    border:1px solid rgb(0, 149, 238);
    border-radius:4px ;
    padding: 8px 10px;
    margin-left: 11px;
  }
  & a {
    text-decoration: none;
  }
}

.chevron-right__icon2{
  color: $header-icon;
  position: relative;
  left: 290px;
  bottom: 38px;
  font-size: 20px;

}