.card-box {
  display: flex;
  justify-content: space-around;
  &__right {
    display: flex;
    align-items: center;
    
  }
}

.card-btn {
  color: #ea352d;
  border: 1px #ea352d solid;
  border-radius: 3px;
  }