.top-edit__profile{
  display: flex;
  margin: 0 auto ;
  justify-content: center;
}

.edit-profile{
  height: 570px;
  width: 700px;
  background-color: $White;
  &__title{
    height: 50px;
    background-color: $White;
    &__content{
      text-align: center;
      padding-top: 10px;
      font-size: 24px;
      font-weight: 550;
    }
  }
  &__myimage{
    background-image: url(mypage-kirakira.png);
    height: 156px;
    background-color: $White;
    z-index: 3;
    &__content{
      display: flex;
    }
  }
}

.edit-profile__mypage__content__form{
  z-index: 3;
  margin: 0 auto;
  background-color: transparent;
  width: 310px;
  height: 50px;
  &__input{
    margin-top: 75px;
    z-index: 4;
    width: 220px;
    height: 50px;
    font-size: 16px;
    line-height: 1.4em;
    -webkit-appearance: none;
    border-width: 1px;
    border-style: solid;
    border-color: $Background;
    border-image: initial;
    border-radius: 4px;
    outline: none;
    background-color: $White;
    font-family: inherit;
    &:hover{
      border: 1px solid $link-blue;
    }
  }
}

.user-icon2{
  z-index: 4;
  font-size: 80px;
  color: $header-icon-top;
}

.edit-profile__message{
  display: flex;
  justify-content: center;
  height: 365px;
  width: 700px;
  background-color: $White;
}

.edit-profile-content___area{
  margin: 50px 0 0 20px;
  height: 210px;  
  width: 660px;
}
 
.edit-profile__message__button{
  margin: 18px 0 0 20px;
  height: 48px;
  width: 660px;
  background-color: $Red;
  border: none;
  color: $White;
  font-size: 15px;
}

.exhibit__form{
  text-decoration: none;
  height: 160px;
  width: 160px;
  background-color: $Red;
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  bottom: 30px;
  right: 35px;
  border-radius: 50%;
  z-index: 6;
  outline:0;
  &__logo{
    color: $White;
    font-size: 22px;
  }
}

.exhibit__form__button__icon1{
  color: $White;
  font-size: 60px;
  position: relative;
}