//ログイン


.single-container{
  width: 1440px;
  height: 1079px;
  background-color: #EEEEEE;
}

.single-header{
  width: 1440px;
  height: 128px;
  text-align: center;
}

.single-header h1{
  width: 193px;
  height: 49px;
  display: inline-block;
  margin: 40px 0 0;
}

.single-header img{
  width: 185px;
  height: 49px;
  display: inline-block;
  margin: 0 8px 0 0;
  line-height: 49px;
}
.single-main{
  width: 1440px;
  height: 731px;
}

.single-login-panel{
  width: 456px;
  height: 731px;
  background-color: #FFF;
  margin: 0 auto;
}

.single-login-no-account{
  width: 456px;
  height: 144px;
  text-align: center;
  /* padding: 40px 64px; */
}

.single-login-no-account p{
  font-size: 16px;
   padding-top: 40px;
   height: 14px;
}

.create-account{
  margin: 8px 0 0;
  border: 1px solid #0099e8;
  background-color: #0099e8;
  color: #fff;
  line-height: 40px;
  width: 382px;
  height: 42px;
  font-size: 16px;

}

.single-buttons{
  width: 456px;
  height: 181px;
  padding-top: 32px;
}

.single-btn{
  text-align: center;
}

.btn{
  width: 382px;
  height: 50px;
  margin-top: 16px;
  font-size: 16px;
  position: relative;
}

.facebook{
  background-color: #385185;
  color: white;
}

.google{
  background-color: #fff;
  color: black;
  border: #979797 solid 1px;
}

.fab{
  position: absolute;
  left: 10px;
  font-size: 20px;
}

.single-forms{
  width: 456px;
  height: 406px;
}

.single-form{
 text-align: center;
}

.holder{
  width: 363px;
  height: 36px;
  margin-top: 24px;
  border-radius: 4px;
  border: 1px solid #ccc;  
  background: #fff;
  font-size: 16px;
  padding: 10px
}

.robot{
  text-align: center;
}

.robot-button{
  width: 363px;
  height: 56px;
  margin-top: 24px;
  font-size: 16px;
  position: relative;
}

.check{
  position: absolute;
  left: 10px;
  font-size: 20px;

}
.login-btn{
 
  text-align: center;
}


.login-submit{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin: 24px 0 0;
  width: 360px;
  height: 50px;
}

.help{
  margin: 24px;
  font-size: 10px;
}

//新規会員登録
.single-container{
  background-color: #EEEEEE;
  width: 1440px;
  height: 732px;
}





.single-header{
  text-align: center;
  width: 1440px;
  height: 128px;
  background-color: #EEEEEE;
}

.single-header h1{
  width: 193px;
  height: 49px;
  display: inline-block;
  margin: 40px 0 0;
}

.single-header img{
  width: 185px;
  height: 49px;
  display: inline-block;
  margin: 0 8px 0 0;
  line-height: 49px;
}



.single-main{
  width: 1440px;
  height: 384px;
}

.single-content{
  width: 700px;
  height: 384;
  margin: 0 auto;
  background-color: #fff;
}



.single-main-section{
  width: 630px;
  height: 97px;
  font-size: 22px;
  text-align: center;
  line-height: 97px;
  padding: 32px;
  margin: 0 auto;
}

.single-form-content{
  width: 700px;
  height: 287px;
  margin: 0 auto;
}


.single-forms{
  width: 343px;
  height: 182px;
  margin: 0 auto;
}



.form{
  width: 343px;
  height: 50px;
  margin: 0 auto;
  margin-top: 16px;
}

.btn{
  width: 343px;
  height: 50px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.mail{
  background-color: red;
  color: white;
}

.facebook{
  background-color: blue;
  color: white;
}

.fab{
  position: absolute;
  left: 10px;
  width: 20px;
  height: 16px;
  bottom: 15px;
}

// .far{
//   position: absolute;
//   left :10px;
//   width: 20px;
//   height: 16px;
// }






