.top-logout__page{
  display: flex;
  margin: 40px auto ;
  justify-content: center;
}

.logout__page{
  margin-top: 35px;
  background-color: $White;
  text-align:center;
  height: 180px;
  width: 700px;
  &__form{
    margin: 50px 0 0 180px;
    height: 80px;
    width: 320px;
    background-color: $Red;
    &__btn-red{
      display: block;
      line-height: 80px;
      outline:0;
      color: $Lightgray;
      font-size: 16px;
    }
  }
}

.exhibit__form{
  &__button{
    text-decoration: none;
    height: 160px;
    width: 160px;
    background-color: $Red;
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    bottom: 30px;
    right: 35px;
    border-radius: 50%;
    z-index: 6;
    outline:0;
    &__logo{
      color: $White;
      font-size: 22px;
    }
  }
}

.exhibit__form__button__icon1{
  color: $White;
  font-size: 60px;
  position: relative;
}