.logout__page{
  background-color: $White;
  height: 180px;
  width: 700px;
  position: absolute;
  left: 530px;
  top: 142px;
  z-index: 6;
  text-align:center;
  &__form{
    &__btn-red{
      outline:0;
      margin-top: 65px;
      height: 50px;
      width: 320px;
      background-color: $Red;
      color: $Lightgray;
      font-size: 14px;
    }
  }
}

.exhibit__form{
  &__button{
    text-decoration: none;
    height: 160px;
    width: 160px;
    background-color: $Red;
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    bottom: 30px;
    right: 35px;
    border-radius: 50%;
    z-index: 6;
    outline:0;
    &__logo{
      color: $White;
      font-size: 22px;
    }
  }
}

.exhibit__form__button__icon1{
  color: $White;
  font-size: 60px;
  position: relative;
}

