.slider {
  width: 1309px;

  .slick__img {
    max-width: 100%;
  }

}

.item__area {
  height: 780px;
  width: 100%;
}

.popular_category {
  height: 500px;
}

.category_title {
  color: #202020;
  text-align: center;
  font-size: 30px;
  padding:20px 0 20px;
  font-family: arial black;

}

.category_items {
  width: 625.8px;
  display: flex;
  font-family: arial black;
  margin: 0 auto;
    
}

.items_content {
  color:#202020;
  font-size: 14px;
  padding: 8px 16px 8px 16px;
  border-radius: 17px;
  background-color: #fffacd;
  margin: 5px 10px 20px 10px;
  text-decoration: none;
  
}

.mainpage__items {
  width: 1050px;
  height: 700px;
  margin: 10px 10px 10px 200px;
   
}

.mainpage__title {
  display: flex;
  justify-content: space-between;


  &__name {
    color: #202020;
    font-size: 24px;
    font-family: arial ;
    padding: 0 0 0 10px;
    
  }

  &__look {
    color: #1e90ff;
    font-size: 14px;
    font-weight: bold;
    font-family: arial;
    cursor: pointer;
    padding: 15px 20px 0 0;

  }
}

.ladies__box__photo {
  height: 252px;
  width: 188px;
  margin: 10px;
  float: left;
  position: relative;
  cursor: pointer;
  list-style: none;
  
  .ladies-photo {
    height: 188px;
    width: 188px;
    background: none;

  }

  .ladies__comment-box {
    height: 64px;
    width: 100%;
    background-color: white;
    position: absolute;
    top:188px;
    
    &__text {
      color: #202020;
      font-size: 16px;
      padding: 5px;
      word-wrap: break-word;
      text-align: center;
  
    }

  }

  .ladies__price-box {
    height: 28px;
    background-color: rgba( 0, 0, 0, 0.50 );
    border-radius: 0 13px 13px 0;
    position: absolute;
    top:150px;
    
    &__price {
      color: white;
      font-size: 16px;
      padding: 5px 15px 5px 10px;
      text-align: left;
  
    }
  }

}