.mypage-container{
  display: flex;
  justify-content: space-between;
  width: 1020px;
  margin: 0 auto;
}

.mypage-contents{
  width: 700px;
}

.mypage-content{
    &__header{
    width: 100%;
    background:linear-gradient(34deg,
    red,
    orange,
    yellow,
    green,
    aqua,
    blue,
    purple);
    &__main{
      height: 200px;
      width: 100%;
      margin: auto;
      &__icon{
        padding-top: 40px;
        font-size: 60px;
        text-align: center;
      }
      &__name{
        text-align: center;
        margin: 10px;
      }
      &__bottom{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        &__review{
          display: flex;
          margin: 5px;
          align-items: center;
          &__num{
            margin-left: 5px;
          }
        }
          &__products{
            display: flex;
            margin: 5px;
            padding: 5px;
            align-items: center;
            &__num{
              margin-left: 5px;
            }
          }
          
        }
      }
    }
    &__body{
      width: 100%;

  
    &--tab{
      background-color: #fff;
      display: flex;
      &--notice{
        width: 50%;
        height: 74px;
        line-height: 74px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border-top: $Red solid 2px;
      }
      &--todo{
        width: 50%;
        height: 74px;
        line-height: 74px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        background-color: #eee;
      }
    }
  }
}


.mypage-content__body--notice__message{
  min-height: 48px;
  background-color: $White;
  border-bottom: #eee 1px solid;
  width: 100%;
  padding: 16px 0;
  display: flex;
  &__icon{
    font-size: 40px;
    margin: auto 20px;
  }
  &__main{
    width: 100%;
    margin-left: 20px;
    &__time{
      display: flex;
      color: rgb(114, 114, 114);
      align-items: center;
      &--date{
        margin-left: 10px;
      }
    }}
}

.mypage-content__body--todo__message{
  min-height: 48px;
  background-color: $White;
  border-bottom: #eee 1px solid;
  width: 100%;
  padding: 16px 0;
  display: flex;
  &__icon{
    font-size: 40px;
    margin: auto 20px;
  }
  &__main{
    width: 100%;
    margin-left: 20px;
    &__time{
      display: flex;
      color: rgb(114, 114, 114);
      align-items: center;
      &--date{
        margin-left: 10px;
      }
    }
  }
}

.mypage-content__deal{
  width: 100%;


&--tab{
  background-color: #fff;
  display: flex;
  &--now{
    width: 50%;
    height: 74px;
    line-height: 74px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-top: $Red solid 2px;
  }
  &--end{
    width: 50%;
    height: 74px;
    line-height: 74px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #eee;
  }
}
}

.mypage-content__deal{
  &--text{
  height: 48px;
  background-color: rgb(250, 250, 250);
  padding: 16px;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  // margin-left: 10px;
  
  }
&--now{
  &__message{
    height: 48px;
    background-color: $White;
    border-bottom: #eee 1px solid;
    width: 100%;
    padding: 16px 0;
    display: flex;
    &__icon{
      font-size: 40px;
      margin: auto 20px;
    }
    &__main{
      width: 100%;
      margin-left: 20px;
      &__time{
        display: flex;
        color: rgb(114, 114, 114);
        align-items: center;
        &--date{
          margin-left: 10px;
        }
      }
    }
  }
}
}




.mypage-content__body--list{
  height: 48px;
  background-color: $White;
  // width: 100%;
  padding: 16px;
  margin-bottom: 100px;
  &--btn{
    background-color: #eee;
    text-align: center;
    line-height: 48px;
    font-size: 14px;
  }
}