

.containar{
  background-color:rgb(245, 245, 245);
}


.item__sell-main--content{
  width:700px;
  height:2016px;
  margin:0 auto;
  background-color:#fff;
}

.main-head{
  text-align: center;
  margin: 0;
  padding:32px 16px;
  font-size:22px;
  border-bottom:solid 2px rgb(245, 245, 245);
}

.item__sell--uploadbox {
  width:620px;
  height:240px;
  padding:40px;
}

.form-require{
  background-color:#ea352d;
  margin:0 0 0 8px;
  padding:2px 4px;
  border-radius:2px;
  color:#fff;
  font-size:12px;
  vertical-align:top;
}

.item__sell--dropbox{
  width:700px;
  height:162px;
}
.item__sell--dropbox-item{
  border-bottom:solid 2px rgb(245, 245, 245);
  margin:40px 0 0 0;
  padding:40px 0 40px 0;
  width:620px;
  height:120px;
  border:1px dashed #ccc;
  background-color:rgb(245, 245, 245);


}
.visible-pc{
  text-align: center;
  font-size:14px;
  position: relative;
  top:46px;
}



.item__sell--content{
  width:700px;
  height:354px;
  margin:120px 0 40px 0;
}

.item__input-default{
  padding:40 40 40 40;
  width:586px;
  height:28px;
  padding:10px 16px 8px;
  border-radius:4px;
  border: 1px solid #ccc;
  background:#fff;
  line-height:1.5;
  font-size:16px;
}



.item__sell--textarea-default{
  margin:8px 0 0;
  width:600px;
  padding:10px;
  border:1px solid #ccc;
  background:#fff;
  font-size:16px;
  line-height:1.5;
}

.item__sell-contentsub{
  width:700px;
  height:355px;
}

.item__sell-sub-head{
  width:620px;
  font-size:16px;
  color:#333
}

.item__sell-form-box{
  width:620px;
  height:180px;
  position: relative;
  top:50px;
}

.item__sell-select-wrap{
  background:#fff;
  height:42px;
  width:400px;
}

.item__sell-select-default1{
  padding:0 16px;
  background:0;
  font-size:16px;
  line-height:1.5;
  cursor:pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  height:48px;
  width:620px;
}

.item__sell-content-sub2{
  position: relative;
  right:40px;
  padding:40px;
  width:660px;
  height:300px;
  border-top:2px solid rgb(245, 245, 245);
}

.item__sell-form-question{
  display:inline-block;
  width:14px;
  height:14px;
  border-radius: 50%;
  background: #0099e8;
  color:#fff;
  line-height:14px;
  font-size:12px;
  text-align: center;
  text-decoration: none;
  position: relative;
  left:90px;
  bottom:30px;
}

.item__sell-form-box2{
  width:400px;
  height:290px;
  position: absolute;
  right:100px;
  bottom:50px; 
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.item__sell-select-default4{
  background:0;
  font-size:16px;
  cursor:pointer;
  -webkit-appearance: none;
  -moz-appearance: none;

}

.item__sell-form-question2{
  display:inline-block;
  width:14px;
  height:14px;
  border-radius: 50%;
  background: #0099e8;
  color:#fff;
  line-height:14px;
  font-size:12px;
  text-align: center;
  text-decoration: none;
  position: relative;
  left:150px;
  bottom:40px;
}


.form-require1{
  position: relative;
  bottom:63px;
  background-color:#ea352d;
  margin:0 0 0 8px;
  padding:2px 4px;
  border-radius:2px;
  color:#fff;
  font-size:12px;
  vertical-align:top;
}
.label1{
  position: relative;
  bottom:63px;
}

.form-require2{
  background-color:#ea352d;
  margin:0 0 0 8px;
  padding:2px 4px;
  border-radius:2px;
  color:#fff;
  font-size:12px;
  vertical-align:top;
}

.item__sell-form-groupx{
  position: relative;
  top:50px;


}

.item__sell-select-wrapx{
  position: relative;
  top:50px;
}



.item__sell-content-low{
  width:620px;
  height:500px;
  margin-top :40px;
  padding:100px 0px 60px 20px;
}


.item__sell-sub-head2{
  color:#888;
  padding:0 ;
  font-size:14px;
  width:160px;
  height:14px;
}


// .sell-form-box3{
//   float:right;
//   width:400px;
//   height:218px;
// }


// .l-left{
//   position: relative;
//   bottom:70px;
// }

// .l-right-input{
//   margin:0;
//   text-align: right;
//   height:48px;
//   padding:10px 16px 8px;
//   border-radius:4px;
//   border:1px solid #ccc;
//   background:#fff;
//   line-height:1.5;
//   font-size:16px;
//   position: relative;
//   bottom:60px;
//   left:50px;
// }
// .creafix{
//   width:350px;
//   height:96px;
//   border-top:1px solid #ccc;
//   border-bottom:1px solid #ccc;
// }


// .single-footer{
//   width:456px;
//   height:220px;
//   margin:0 auto;
//   padding:40px 0;
//   text-align: center;
//   background-color:rgb(245, 245, 245);

// }

// .single-footer ul{
//   list-style: none;
  
// }

// .footer a {
//   text-decoration:none;
//   color:#333;
//   letter-spacing:0.1em;
// }
