.item__sell-main-content{
  width:700px;
  height:2600px;
  margin:0 auto;
  padding:0 40px 0 40px;
  background-color:#fff;
  .item__sell-single-head{
    width:750px;
    padding:32px 16px;
    position: relative;
    right:40px;
    font-size:22px;
    line-height:1.5;
    text-align: center;
    border-bottom:2px solid rgb(245, 245, 245);
  }
}

.sell__upload--head{
  padding-top:40px;
}

.item__sell--uploadbox__form-require{
    background-color:#ea352d;
    margin:0 0 0 8px;
    padding:2px 4px;
    border-radius:2px;
    color:#fff;
    font-size:12px;
    vertical-align:top;
  }

.item__sell-dropbox{
  width:700px;
  height:162px;
  &-item{
    padding:40px 0 40px 0;
    height:120px;
    border:1px dashed #ccc;
    background-color:rgb(245, 245, 245);
      .drop-message{
        text-align: center;
        font-size:18px;
      }
    }
  }


.item__sell-content{
   border-top:solid 2px rgb(245, 245, 245);
    width:620px;
    height:300px;
    margin:100px 0 0 0;
    padding:40px 40px 0 40px;
    &__input-default{
      width:586px;
      height:28px;
      padding:10px 16px 8px 16px;
      border-radius:4px;
      border: 1px solid #ccc;
      background:#fff;
      line-height:1.5;
      font-size:16px;}
    &__form-group{
      margin-top:40px;}
    &__style_counter{
      position: relative;
      left:580px;
    }  
}
    

.item__sell--textarea-default{
  height:120px;
  margin:8px 0 0;
  width:600px;
  padding:10px;
  border:1px solid #ccc;
  background:#fff;
  font-size:16px;
  line-height:1.5;
}

.item__sell-contentsub{
  padding:40px 40px 40px 40px;
  margin-top:40px;
  width:620px;
  height:300px;
  &__sub-head{
    margin-bottom:20px;
    width:620px;
    font-size:16px;
    color:#333
  }
}

.fa-chevron-down {
  position: relative;
  left:580px;
  top:35px; 
}

.item__sell-form-box{
  width:620px;
  height:180px;
  &__group2{
    position: relative;
    top:30px;
    padding:20px;
  }
}


.item__sell-select-default{
  position: relative;
  overflow: hidden;
  display:inline-block;
  z-index: 2;
  padding:0 16px;
  border-radius: 4px;
  border:1px solid #ccc;
  background:0;
  font-size:16px;
  line-height:1.5;
  cursor:pointer;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height:48px;
  width:620px;
}

.item__sell-content-sub2{
  position: relative;
  right:40px;
  padding:40px;
  width:660px;
  height:360px;
  border-top:2px solid rgb(245, 245, 245);
  &__sub-head2{
    color:#888;
    padding:0 ;
    font-size:14px;
    width:160px;
    height:14px;}
  &__form-question{
    display:inline-block;
    width:14px;
    height:14px;
    border-radius: 50%;
    background: #0099e8;
    color:#fff;
    line-height:14px;
    font-size:12px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left:90px;
    bottom:14px;}
    &__form-group3{
    margin-top:32px;
    margin-bottom:10px;}
    &__form-group4{ 
      padding:30px 0 0 0;
      margin-top:50px;
      margin-bottom:10px;}
    &__form-group5{
    margin-top:100px;
  }
}

.item__sell-content-low{
  position: relative;
  top:95px;
  right:37px;
  padding:42px 0 80px 40px ;
  width:660px;
  height:360px;
  border-top:2px solid rgb(245, 245, 245);
  &__form-box3{
    float:right;
    padding:0 40px 0 0;
    width:400px;
    height:218px;}
  &__form-question2{
    display:inline-block;
    width:14px;
    height:14px;
    border-radius: 50%;
    background: #0099e8;
    color:#fff;
    line-height:14px;
    font-size:12px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left:180px;
    bottom:20px;
  }
}

.item__sell-price{
  list-style: none;
  &__form-group6{
  display:flex;
  justify-content: space-between;
  }
}

.item__sell-right-group{
  display:flex;
  .l-right-input{
    margin:0;
    text-align: right;
    height:48px;
    padding:10px 16px 8px;
    border-radius:4px;
    border:1px solid #ccc;
    background:#fff;
    line-height:1.5;
    font-size:16px;
  }
}

.item__sell-form-group7{
  border-top:1px solid #ccc;
  margin:30px 0 0 0;
  display: flex;
  justify-content: space-between;
  .l-left{
  padding:24px 0 24px 0;}
    .l-right{
    padding:24px 0 24px 0;}
    .l-right2{
    padding:24px 0 24px 0;
    font-weight: bold;}
  .l-left2{
  padding:24px 0 24px 0;
  font-weight: bold;}
}

.item__sell-content-btn-box{
  width:620px;
  padding:40px 40px 40px 40px;
  border-top:1px solid #ccc;
  position: relative;
  right:40px;
  &__button{
    margin:40px 0 0;
    background:#ea352d;
    border:1px solid #ea352d;
    color:#fff;
    display:block;
    width:100%;
    line-height:48px;
    font-size:14px;
    cursor:pointer;
    text-align: center;
  }
}

.item__sell-btn-gray{
  width:45%;
  margin:24px auto 0;
  background:#aaa;
  border:1px solid #aaa;
  color:#fff;
  text-decoration: none;
  display:block;
  font-size:14px;
  line-height:48px;
  cursor:pointer;
  text-align: center;
}


