.item__sell-main-content{
  width:620px;
  margin:0 auto;
  padding:0 40px 0 40px;
  background-color:#fff;
  .item__sell-single-head{
    width:668px;
    padding:32px 16px;
    position: relative;
    right:40px;
    font-size:22px;
    line-height:1.5;
    text-align: center;
    border-bottom:2px solid rgb(245, 245, 245);
  }
}

.sell__upload--head{
  padding-top:40px;
}

.item__sell--uploadbox__form-require{
    background-color:#ea352d;
    margin:0 0 0 8px;
    padding:2px 4px;
    border-radius:2px;
    color:#fff;
    font-size:12px;
    vertical-align:top;
  }

.item__sell-dropbox{
  display:block;
  width:620px;
  margin:16px auto 0;
  .image-upload-box{
    display:block;
    height:100px;
    margin:40px 0 0 0;
    padding:80px 40px 40px 0px;
    border:1px dashed #ccc;
    background-color:rgb(245, 245, 245);
    text-align: center;
    font-size:18px;
  .sell-upload-drop-file{
    display:none;
    }
  }
}

  

  

.item__sell-dropbox__contena{
  display: flex;
}

.item__sell-dropbox__up-image{
  margin-top:40px;
  height: 202px;
  width: 150px;
  background-color: brown;
  &__li{
    height: 130px;
    width: 150px;
    background-color: chartreuse;
    background-image: url(mypage-kirakira.png);
  }
  &__button{
    height: 72px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    &__edit{
      height: 72px;
      width: 75px;
      font-size: 16px;
      padding-top: 20px;
    }
    &__delete{
      height: 72px;
      width: 75px;
      font-size: 16px;
      padding-top: 20px;
      border-left: solid #aaa 1px;
    }
  }
}



.item__sell-content{
    width:620px;
    height:350px;
    margin:100px 0 0 0;
    &__input-default{
      width:604px;
      height:56px;
      margin-top:8px;
      padding:0 0 0 16px;
      border-radius:2px;
      border: 1px solid #ccc;
      background:#fff;
      line-height:1.5;
      font-size:16px;}
    &__form-group{
      margin-top:40px;}
    &__style_counter{
      position: relative;
      left:580px;
    }  
}
    

.item__sell--textarea-default{
  height:120px;
  margin:8px 0 0;
  width:600px;
  padding:10px;
  border:1px solid #ccc;
  background:#fff;
  font-size:16px;
  line-height:1.5;
}

.item__sell-contentsub{
  margin-top:40px;
  width:620px;
  height:300px;
  &__sub-head{
    margin-bottom:20px;
    width:620px;
    font-size:16px;
    color:#333
  }
}

.fa-chevron-down {
  position: relative;
  left:580px;
  top:35px; 
}

.item__sell-form-box{
  width:620px;
  height:180px;
  &__group2{
    margin-top:20px;
  }
}

.item__sell-select{
  margin:5px 0 0;
  position: relative;
  background:#fff;
  &__default{
    position: relative;
    -webkit-appearance: none;
	  -moz-appearance: none;
    appearance: none; 
    z-index:2;
    height:48px;
    padding:0 16px;
    border-radius: 4px;
    border:1px solid #ccc;
    background:0;
    font-size:16px;
    line-height:1.5;
    cursor:pointer;
    
  }
}





.item__sell-content-sub2{
  width:620px;
  height:360px;
  margin-top:40px;
  &__sub-head2{
    color:#888;
    font-size:14px;
    width:160px;
    height:14px;}
  &__form-question{
    display:inline-block;
    width:14px;
    height:14px;
    border-radius: 50%;
    background: #0099e8;
    color:#fff;
    line-height:14px;
    font-size:12px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left:90px;
    bottom:14px;}
    &__form-group3{
    margin-top:30px;}
    &__form-group4{ 
      margin-top:30px;}
    &__form-group5{
      margin-top:30px;
  }
}

.item__sell-content-low{
  margin-top:200px;
  width:620px;
  height:360px;
  &__form-box3{
    float:right;
    padding-right:40px;
    width:400px;
    height:218px;}
  &__form-question2{
    display:inline-block;
    width:14px;
    height:14px;
    border-radius: 50%;
    background: #0099e8;
    color:#fff;
    line-height:14px;
    font-size:12px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left:180px;
    bottom:20px;
  }
}

.item__sell-price{
  margin-top:50px;
  list-style: none;
  &__form-group6{
  display:flex;
  justify-content: space-between;
  }
}

.item__sell-right-group{
  width:160px;
  height:48px;
  display:flex;
  .l-right-input{
    margin:0;
    text-align: right;
    height:48px;
    padding:10px 16px 8px;
    border-radius:4px;
    border:1px solid #ccc;
    background:#fff;
    line-height:1.5;
    font-size:16px;
  
  }
}
.en{
  position: relative;
  top:10px;
  padding-right:10px;
}

.item__sell-form-group7{
  border-top:1px solid #ccc;
  width:440px;
  margin:30px 0 0 0;
  display: flex;
  justify-content: space-between;
  .l-left{
    margin-top:10px;
    padding:20px 0 20px 0;}
    .l-right{
      margin-top:10px;
      padding:20px 0 20px 0;}
    .l-right2{
      padding:20px 0 20px 0;
      font-weight: bold;}
  .l-left2{
    padding:20px 0 20px 0;
    font-weight: bold;}
}

.item__sell-content-btn-box{
  width:620px;
  padding:40px 40px 40px 40px;
  border-top:1px solid #ccc;
  position: relative;
  right:40px;
  &__button{
    margin:40px 0 0;
    background:#ea352d;
    border:1px solid #ea352d;
    color:#fff;
    display:block;
    width:100%;
    line-height:48px;
    font-size:14px;
    cursor:pointer;
    text-align: center;
  }
}

.item__sell-btn-gray{
  width:45%;
  margin:24px auto 0;
  background:#aaa;
  border:1px solid #aaa;
  color:#fff;
  text-decoration: none;
  display:block;
  font-size:14px;
  line-height:48px;
  cursor:pointer;
  text-align: center;
}

