//ヘッダー
.header {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  margin-top: -20px;
  &__left {
    .logo {
      height: 180px;
      width: 180px;
    }
  }
  &__right {
    margin-left: 40px;
    .nav-bar__lists {
      display: flex;
      .item {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        text-align: center;
        width: 100px;
        .circle {
          width: 12px;
          height: 12px;
          background-color: black;
          border-radius: 50%;
          margin: 8px auto 0;
          text-align: center;
          position: relative;
        }
        .last-circle {
          width: 12px;
          height: 12px;
          background-color: black;
          border-radius: 50%;
          margin: 8px auto 0;
          text-align: center;
          position: relative;
        }
        .circle::after {
          content: "";
          width: 100px;
          height: 2px;
          display: block;
          background-color: black;
          position: absolute;
          top: 5px;
        }
      }
    }
  }
}



//メイン
.main {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  .member-info {
    width: 700px;
    margin :0 72px;
    background-color: #fff;
    &__title {
      text-align: center;
      padding: 32px;
      font-size: 22px;
      font-weight: bold;
      border-bottom: 1px solid #eeeeee;
    }
  }
}

//入力フォーム
.single-content {
  max-width: 343px;
  margin: 0 auto;
  padding: 0;
  .form-group-top {
    font-size: 14px;
    font-weight: bold;
    margin-top:24px ;
    margin-bottom: 30px;
    .nick-name {
      width: 341px;
    }
    .nick-name-field{
      width: 341px;
      height: 28px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      padding: 10px 16px 8px;
    }
  }
  .form-group {
    font-size: 14px;
    font-weight: bold;
    margin: 30px 0;
    .mail-field {
      width: 341px;
      height: 28px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      padding: 10px 16px 8px;
    }
    .identification-title {
      font-weight: bold;
    }
    .identification-text {
      font-weight: normal;
      font-size: 12px;
    }
    .family-name-kanji {
      width: 130px;
      height: 28px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      padding: 10px 16px 8px;
    }
    .first-name-kanji {
      width: 130px;
      height: 28px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      margin-left: 10px;
      padding: 10px 16px 8px;
    }
    .family-name-kana {
      width: 130px;
      height: 28px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      padding: 10px 16px 8px;
    }
    .first-name-kana {
      width: 130px;
      height: 28px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      margin-left: 10px;
      padding: 10px 16px 8px;
    }
    .birthday-field {
      width: 100px;
      height: 48px;
    }
    #telephone-field {
      width: 341px;
      height: 28px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      padding: 10px 16px 8px;
    }
  }
  .form-group-password {
    font-size: 14px;
    font-weight: bold;
    margin: 30px 0;
    .password-field {
      width: 341px;
      height: 28px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      padding: 10px 16px 8px;
    }
  }   
}

//address　form部分
.wfamily-name-kanji {
  width: 341px;
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 16px 8px;
}
.wfirst-name-kanji {
  width: 341px;
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 16px 8px;
}
.wfamily-name-kana {
  width: 341px;
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 16px 8px;
}
.wfirst-name-kana {
  width: 341px;
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 16px 8px;
}
.address-num-field {
  width: 341px;
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 16px 8px;
}
.prefecture-field {
  width: 341px;
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 16px 8px;
}

//payment form部分
.card-num-field {
  width: 341px;
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 16px 8px;
  margin-bottom: 5px;
}
.security-field {
  width: 341px;
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 16px 8px;
}
.cards {
  display: flex;
  .card {
    margin-left: 10px;
    height: 19px;
    .card-logo {
      width: 30px;
      height: 20px;
    }
  }
}

//complete メイン部分
.thanks-message {
  text-align: center;
}




.robot {
  height: 78px;
  border: 1px solid #ccc;
  margin-top: 40px;
}

.required {
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  margin: 0 0 0 8px;
  background-color:#ea352d;
  border-radius: 3px;
}
.option {
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  margin: 0 0 0 8px;
  background-color:#eee;
  border-radius: 3px;
}



.submit-btn {
  width: 341px;
  height: 48px;
  background-color: #e62017;
  color: #fff;
}

.sms-text {
  margin-bottom: 30px;
}


//フッター
.footer {
  height:140px;
  background-color: #eeeeee;
  padding: 40px 0;
  text-align: center;
  &__nav {
    margin-bottom: 30px;
    &__messages {
      display: flex;
      justify-content: center;
      .message {
        font-size: 12px;
        margin-left: 20px;
      }
    }
  }
  &__logo {
    text-align: center;
    .flogo {
      height: 80px;
      width: 80px;
    }
    .copy {
      margin-top: -7px;
      text-align: center;
      font-size: 13px;
    }
  }
}