.header {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  margin-top: -20px;
  &__left {
    .logo {
      height: 180px;
      width: 180px;
    }
  }
  &__right {
    margin-left: 40px;
    .info {
      display: flex;
      .item {
        display: flex;
        flex-direction: column;
        // margin-left: 20px;
        font-size: 12px;
        text-align: center;
        width: 100px;
        .circle {
          width: 12px;
          height: 12px;
          background-color: black;
          border-radius: 50%;
          margin: 8px auto 0;
          text-align: center;
          position: relative;
        }
        .last-circle {
          width: 12px;
          height: 12px;
          background-color: black;
          border-radius: 50%;
          margin: 8px auto 0;
          text-align: center;
          position: relative;
        }
        .circle::after {
          content: "";
          width: 100px;
          height: 2px;
          content: "";
          display: block;
          background-color: black;
          position: absolute;
          top: 5px;
        }
      }
    }
  }
}




.main {
  height: 1130px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  .member-info {
    height: 1130px;
    width: 700px;
    background-color: #fff;
    &__title {
      text-align: center;
      padding: 32px;
    }
    .form-group {
      text-align: center;
    }
  }
}

.footer {
  height:200px;
  background-color: #eeeeee;
  padding: 40px 0;
  &__nav {
    &__messages {
      display: flex;
      justify-content: center;
      margin-left: 30px;
    }
  }
  &__logo {
    text-align: center;
  }
  .flogo {
    height: 100px;
    width: 100px;
  }
  .copy {
    text-align: center;
  }
}