%footer
  .smaph_area
    .smaph_box
      .text-box
        .smaph_text1 スマホでかんたんフリマアプリ
        .smaph_text2 今すぐ無料ダウンロード
        %img{:src => "SVG/logo_white.svg"}/
        %a.mercari_icon{:href => "#", :target => "_blank"}
        %img.apple_icon{:alt => "", :src => "img/apple_icon.svg"}/
        %img.google_icon{:alt => "", :src => "img/google_icon.svg"}/


    .footer__index
      %ul.footer__index__box
        %li.footer__title メルカリについて
        %li.footer__contents
          %a.footer__comment{:href => "#", :target => "_blank"} 会社概要（運営会社）
        / target="_blank"はリンクボタンを押すと別タブが開く
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} 採用情報
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} プレスリリース
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} 公式ブログ
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} メルカリロゴ利用ガイドライン
        %li.logo_icon
        %li
          %a{:href => "#"}
            %i.fab.fa-facebook-square.logo
        %li
          %a{:href => "#"}
            %i.fab.fa-twitter.logo

      %ul.footer__index__box
        %li.footer__title ヘルプ＆ガイド
        %li.footer__contents
          %a.footer__comment{:href => "#", :target => "_blank"} メルカリガイド
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} らくらくメルカリ便
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} ゆうゆうメルカリ便
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} 大型メルカリ便
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} 車体取引ガイド
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} メルカリあんしん・あんぜん宣言！
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} 偽ブランド品撲滅への取り組み
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} メルカリボックス

      %ul.footer__index__box
        %li.footer__title プライバシーと利用規約
        %li.footer__contents
          %a.footer__comment{:href => "#", :target => "_blank"} プライバシーポリシー
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} メルカリ利用規約
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} あんしんスマホサポート制度に関する利用特約
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} コンプライアンスポリシー
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} 個人データの安全管理に係る基本方針
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} 特定商取引に関する表記
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} 資金決済法に基づく表示
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} 法令順守と犯罪抑止のために

      %ul.footer__index__box
        %li.footer__title 国
        %li.footer__contents
          %a.footer__comment{:href => "#", :target => "_blank"} 日本
        %li
          %a.footer__comment{:href => "#", :target => "_blank"} United States
    %div
      %p.copy © 2019 Mercari,Inc
