%body
  %header
    .heder-up
      %a{:href => "https://www.mercari.com/jp/"}
        %img.logo-image{:alt => "logo", :src => "/Users/108kuroto/SVG/fmarket_logo_red.svg"}/
      %form.header-form{:action => "#"}
        %input.input-header{:mane => "keyword", :placeholder => "   何かお探しですか？", :type => "seach", :value => ""}/
        %botton.header-form-botton{:type => "sabmit"}
          %i.fas.fa-search
    .header-under
      .header-under-left
        %a#categoly__search{:href => "#"}
          %i.fas.fa-list-ul>
          カテゴリーから探す
        #ex_out1
          %ul#ex_menu1
            %li#ladies1_list.menu1_list
              %a.menu1_link{:href => "#"} レディース
            %ul#ladies_ul
              %li#tops_list.ladies-lists
                %a.ladies_goods{:href => "#"} トップス
              %ul#tops_ul
                %li.tops-lists
                  %a.tops_goods{:href => "#"} Tシャツ/カットソー(半袖/袖なし)
                %li.tops-lists
                  %a.tops_goods{:href => "#"} Tシャツ/カットソー(七分/長袖)
                %li.tops-lists
                  %a.tops_goods{:href => "#"} シャツ/ブラウス(半袖/袖なし)
                %li.tops-lists
                  %a.tops_goods{:href => "#"} シャツ/ブラウス(七分/長袖)
                %li.tops-lists
                  %a.tops_goods{:href => "#"} ポロシャツ
                %li.tops-lists
                  %a.tops_goods{:href => "#"} キャミソール
                %li.tops-lists
                  %a.tops_goods{:href => "#"} タンクトップ
                %li.tops-lists
                  %a.tops_goods{:href => "#"} ホルターネック
                %li.tops-lists
                  %a.tops_goods{:href => "#"} ニット/セーター
                %li.tops-lists
                  %a.tops_goods{:href => "#"} チュニック
                %li.tops-lists
                  %a.tops_goods{:href => "#"} カーディガン/ポレロ
                %li.tops-lists
                  %a.tops_goods{:href => "#"} アンサンブル
                %li.tops-lists
                  %a.tops_goods{:href => "#"} ベスト/ジレ
                %li.tops-lists
                  %a.tops_goods{:href => "#"} パーカー
              %li#jacket-outer_list.ladies-lists
                %a.ladies_goods{:href => "#"} ジャケット/アウター
              %ul#jacket-outer_ul
                %li.jacket-outer_lists
                  %a.jacket-outer_goods{:href => "#"} テラードジャケット
                %li.jacket-outer_lists
                  %a.jacket-outer_goods{:href => "#"} ノーカラージャケット
                %li.jacket-outer_lists
                  %a.jacket-outer_goods{:href => "#"} Gジャン/デニムジャケット
                %li.jacket-outer_lists
                  %a.jacket-outer_goods{:href => "#"} レザージャケット
                %li.jacket-outer_lists
                  %a.jacket-outer_goods{:href => "#"} ダウンジャケット
                %li.jacket-outer_lists
                  %a.jacket-outer_goods{:href => "#"} ライダースジャケット
                %li.jacket-outer_lists
                  %a.jacket-outer_goods{:href => "#"} ミリタリージャケット
                %li.jacket-outer_lists
                  %a.jacket-outer_goods{:href => "#"} ダウンベスト
                %li.jacket-outer_lists
                  %a.jacket-outer_goods{:href => "#"} ジャンバー/ブルゾン
                %li.jacket-outer_lists
                  %a.jacket-outer_goods{:href => "#"} ポンチョ
                %li.jacket-outer_lists
                  %a.jacket-outer_goods{:href => "#"} ロングコート
                %li.jacket-outer_lists
                  %a.jacket-outer_goods{:href => "#"} トレンチコート
                %li.jacket-outer_lists
                  %a.jacket-outer_goods{:href => "#"} ダッフルコート
                %li.jacket-outer_lists
                  %a.jacket-outer_goods{:href => "#"} ピーコート
              %li#pants_list.ladies-lists
                %a.ladies_goods{:href => "#"} パンツ
              %ul#pants_ul
                %li.pants_lists
                  %a.pants_goods{:href => "#"} デニム/ジーンズ
                %li.pants_lists
                  %a.pants_goods{:href => "#"} ショートパンツ
                %li.pants_lists
                  %a.pants_goods{:href => "#"} カジュアルパンツ
                %li.pants_lists
                  %a.pants_goods{:href => "#"} ハーフパンツ
                %li.pants_lists
                  %a.pants_goods{:href => "#"} チノパン
                %li.pants_lists
                  %a.pants_goods{:href => "#"} ワークパンツ/カーゴパンツ
                %li.pants_lists
                  %a.pants_goods{:href => "#"} クロップドパンツ
                %li.pants_lists
                  %a.pants_goods{:href => "#"} サロペット/オーバーオール
                %li.pants_lists
                  %a.pants_goods{:href => "#"} オールインワン
                %li.pants_lists
                  %a.pants_goods{:href => "#"} サルエルパンツ
                %li.pants_lists
                  %a.pants_goods{:href => "#"} ガウチョパンツ
                %li.pants_lists
                  %a.pants_goods{:href => "#"} その他
              %li.ladies-lists
                %a.ladies_goods{:href => "#"} スカート
              %li.ladies-lists
                %a.ladies_goods{:href => "#"} ワンピース
              %li.ladies-lists
                %a.ladies_goods{:href => "#"} 靴
              %li.ladies-lists
                %a.ladies_goods{:href => "#"} ルームウェア/パジャマ
              %li.ladies-lists
                %a.ladies_goods{:href => "#"} レッグウェア
              %li.ladies-lists
                %a.ladies_goods{:href => "#"} 帽子
              %li.ladies-lists
                %a.ladies_goods{:href => "#"} バッグ
              %li.ladies-lists
                %a.ladies_goods{:href => "#"} アクセサリー
              %li.ladies-lists
                %a.ladies_goods{:href => "#"} ヘアアクセサリー
              %li.ladies-lists
                %a.ladies_goods{:href => "#"} 小物
              %li.ladies-lists
                %a.ladies_goods{:href => "#"} 時計
            %li.menu1_list
              %a.menu1_link{:href => "#"} メンズ
            %li.menu1_list
              %a.menu1_link{:href => "#"} ベビー・キッズ
            %li.menu1_list
              %a.menu1_link{:href => "#"} インテリア・住まい・小物
            %li.menu1_list
              %a.menu1_link{:href => "#"} 本・音楽・ゲーム
            %li.menu1_list
              %a.menu1_link{:href => "#"} おもちゃ・ホビー・グッズ
            %li.menu1_list
              %a.menu1_link{:href => "#"} コスメ・香水・美容
            %li.menu1_list
              %a.menu1_link{:href => "#"} 家電・スマホ・カメラ
            %li.menu1_list
              %a.menu1_link{:href => "#"} スポーツ・レジャー
            %li.menu1_list
              %a.menu1_link{:href => "#"} ハンドメイド
            %li.menu1_list
              %a.menu1_link{:href => "#"} チケット
            %li.menu1_list
              %a.menu1_link{:href => "#"} 自動車・オートバイ
            %li.menu1_list
              %a.menu1_link{:href => "#"} その他
            %li.menu1_list
              %a.menu1_link{:href => "#"} カテゴリ一覧
        %a#brand-search{:href => "#"}
          %i.fas.fa-tag>
          ブランドから探す
        #ex_out2
          %ul#ex_menu2
            %li.menu2_list
              %a.menu2_link{:href => "#"} シャネル
            %li.menu2_list
              %a.menu2_link{:href => "#"} ナイキ
            %li.menu2_list
              %a.menu2_link{:href => "#"} ルイ ヴィトン
            %li.menu2_list
              %a.menu2_link{:href => "#"} シュプリーム
            %li.menu2_list
              %a.menu2_link{:href => "#"} アディダス
            %li.menu2_list
              %a.menu2_link{:href => "#"} ブランド一覧
      .header-under-right
        %a.like-list{:href => "#"}
          %i.far.fa-heart>
          いいね！一覧
        %a.infomation{:href => "#"}
          %i.far.fa-bell>
          お知らせ
        %a.todo-list{:href => "#"}
          %i.fas.fa-check>
          やることリスト
        %a.mypage{:href => "#"}
          %i.far.fa-user-circle>
          マイページ
