<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="header.css">
    <title>MURIKIRA</title>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="heder-up">
        <img src="/Users/108kuroto/SVG/fmarket_logo_red.svg" alt="logo" class="logo-image">

        <form action="#" class="header-form">
          <input type="seach" mane="keyword" value placeholder="何かお探しですか？" class="input-header">
            <botton type="sabmit" class="header-form-botton">
              <i class="fas fa-search"></i>
            </botton>
        </form>
      </div>
      <div class="header-under">
        <div class="header-under-left">
          <a class="categoly-search">
              <i class="fas fa-list-ul"></i>カテゴリーから探す
          </a>
  
          <a class="brand-search">
              <i class="fas fa-tag"></i>ブランドから探す
          </a>
        </div>
        <div class="header-under-right">
  
          <a class="like-list">
              <i class="far fa-heart"></i>いいね！一覧
          </a>
  
          <a class="infomation">
              <i class="far fa-bell"></i>お知らせ
          </a>
  
          <a class="todo-list">
              <i class="fas fa-check"></i>やることリスト
          </a>
  
          <a class="mypage">
              <i class="far fa-user-circle"></i>マイページ
          </a>
        </div>
      </div>








     </header>
  </body>
</html>