<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="header.css">
  <title>MURIKIRA</title>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="header.js"></script>
</head>

<body>
  <header>
    <div class="heder-up">
      <a href="https://www.mercari.com/jp/"><img src="/Users/108kuroto/SVG/fmarket_logo_red.svg" alt="logo" class="logo-image"></a>

      <form action="#" class="header-form">
        <input type="seach" mane="keyword" value placeholder="   何かお探しですか？" class="input-header">
        <botton type="sabmit" class="header-form-botton">
          <i class="fas fa-search"></i>
        </botton>
      </form>
    </div>

    <div class="header-under">
      <div class="header-under-left">
          <a href="#" id="categoly__search">
            <i class="fas fa-list-ul"></i>カテゴリーから探す
          </a>
        <div id="ex_out1">
          <ul id="ex_menu1">
            <li id="ladies1_list" class="menu1_list"><a href="#" class="menu1_link">レディース</a></li>
              <ul id="ladies_ul">
                <li class="ladies-lists" id="tops_list"><a href="#" class="ladies_goods">トップス</a></li>
                  <ul id="tops_ul">
                    <li class="tops-lists" id="t-shirt_cool"><a href="#" class="tops_goods">Tシャツ/カットソー(半袖/袖なし)</a></li>
                    <li class="tops-lists" id="t-shirt_hot"><a href="#" class="tops_goods">Tシャツ/カットソー(七分/長袖)</a></li>
                    <li class="tops-lists" id=""><a href="#" class="tops_goods">シャツ/ブラウス(半袖/袖なし)</a></li>
                    <li class="tops-lists" id=""><a href="#" class="tops_goods">シャツ/ブラウス(七分/長袖)</a></li>                    
                    <li class="tops-lists" id=""><a href="#" class="tops_goods">ポロシャツ</a></li>
                    <li class="tops-lists" id=""><a href="#" class="tops_goods">キャミソール</a></li>
                    <li class="tops-lists" id=""><a href="#" class="tops_goods">タンクトップ</a></li>
                    <li class="tops-lists" id=""><a href="#" class="tops_goods">ホルターネック</a></li>
                    <li class="tops-lists" id=""><a href="#" class="tops_goods">ニット/セーター</a></li>
                    <li class="tops-lists" id=""><a href="#" class="tops_goods">チュニック</a></li>
                    <li class="tops-lists" id=""><a href="#" class="tops_goods">カーディガン/ポレロ</a></li>
                    <li class="tops-lists" id=""><a href="#" class="tops_goods">アンサンブル</a></li>
                    <li class="tops-lists" id=""><a href="#" class="tops_goods">ベスト/ジレ</a></li>
                    <li class="tops-lists" id=""><a href="#" class="tops_goods">パーカー</a></li>
                  </ul>
                <li class="ladies-lists" id=""><a href="#" class="ladies_goods">ジャケット/アウター</a></li>
                <li class="ladies-lists" id=""><a href="#" class="ladies_goods">パンツ</a></li>
                <li class="ladies-lists" id=""><a href="#" class="ladies_goods">スカート</a></li>
                <li class="ladies-lists" id=""><a href="#" class="ladies_goods">ワンピース</a></li>
                <li class="ladies-lists" id=""><a href="#" class="ladies_goods">靴</a></li>
                <li class="ladies-lists" id=""><a href="#" class="ladies_goods">ルームウェア/パジャマ</a></li>
                <li class="ladies-lists" id=""><a href="#" class="ladies_goods">レッグウェア</a></li>
                <li class="ladies-lists" id=""><a href="#" class="ladies_goods">帽子</a></li>
                <li class="ladies-lists" id=""><a href="#" class="ladies_goods">バッグ</a></li>
                <li class="ladies-lists" id=""><a href="#" class="ladies_goods">アクセサリー</a></li>
                <li class="ladies-lists" id=""><a href="#" class="ladies_goods">ヘアアクセサリー</a></li>
                <li class="ladies-lists" id=""><a href="#" class="ladies_goods">小物</a></li>
                <li class="ladies-lists" id=""><a href="#" class="ladies_goods">時計</a></li>
              </ul>


            <li class="menu1_list"><a href="#" class="menu1_link">メンズ</a></li>
            <li class="menu1_list"><a href="#" class="menu1_link">ベビー・キッズ</a></li>
            <li class="menu1_list"><a href="#" class="menu1_link">インテリア・住まい・小物</a></li>
            <li class="menu1_list"><a href="#" class="menu1_link">本・音楽・ゲーム</a></li>
            <li class="menu1_list"><a href="#" class="menu1_link">おもちゃ・ホビー・グッズ</a></li>
            <li class="menu1_list"><a href="#" class="menu1_link">コスメ・香水・美容</a></li>
            <li class="menu1_list"><a href="#" class="menu1_link">家電・スマホ・カメラ</a></li>
            <li class="menu1_list"><a href="#" class="menu1_link">スポーツ・レジャー</a></li>
            <li class="menu1_list"><a href="#" class="menu1_link">ハンドメイド</a></li>
            <li class="menu1_list"><a href="#" class="menu1_link">チケット</a></li>
            <li class="menu1_list"><a href="#" class="menu1_link">自動車・オートバイ</a></li>
            <li class="menu1_list"><a href="#" class="menu1_link">その他</a></li>
            <li class="menu1_list"><a href="#" class="menu1_link">カテゴリ一覧</a></li>
          </ul>
        </div>

        <a href="#" id="brand-search">
          <i class="fas fa-tag"></i>ブランドから探す
        </a>
        <div id="ex_out2">
          <ul id="ex_menu2">
            <li class="menu2_list"><a href="#" class="menu2_link">シャネル</a></li>
            <li class="menu2_list"><a href="#" class="menu2_link">ナイキ</a></li>
            <li class="menu2_list"><a href="#" class="menu2_link">ルイ ヴィトン</a></li>
            <li class="menu2_list"><a href="#" class="menu2_link">シュプリーム</a></li>
            <li class="menu2_list"><a href="#" class="menu2_link">アディダス</a></li>
            <li class="menu2_list"><a href="#" class="menu2_link">ブランド一覧</a></li>
          </ul>
        </div>
      </div>










      <div class="header-under-right">

        <a href="#" class="like-list">
          <i class="far fa-heart"></i>いいね！一覧
        </a>

        <a href="#" class="infomation">
          <i class="far fa-bell"></i>お知らせ
        </a>

        <a href="#" class="todo-list">
          <i class="fas fa-check"></i>やることリスト
        </a>

        <a href="#" class="mypage">
          <i class="far fa-user-circle"></i>マイページ
        </a>

      </div>
    </div>
  </header>
</body>

</html>